PyQt6>=6.4.0
PyQt6-Qt6
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
PyQt6-sip
pyinstaller>=5.7.0
pyinstaller-hooks-contrib
pywin32>=305; platform_system == "Windows"
winshell>=0.6; platform_system == "Windows"
pillow>=9.3.0
requests>=2.28.1
python-dotenv>=0.21.0